{% extends "base.html" %}

{% block title %}HelpMePick : Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" style="margin-top:15%;">
            <a href="{% url 'activity' %}" class="col-md-12 btn btn-lg" style="font-size:800%; color:white; background-color:#000066; text-shadow:2px 2px 16px #bebebe;">ACTIVITY</a>
        </div>
        <div class="col-md-12" style="margin-top:10%;">
            <button class="col-md-12 btn btn-lg" style="font-size:800%; color:white; background-color:#000066; text-shadow:2px 2px 16px #bebebe;">FOOD</button>
        </div
    </div>
{% endblock %}